:root {
  --border: #c6c6c6;
  --border-focus: #9FB1C1;
  --blue: #077ABC;
  --aqua: #07B3A1;
  --asphalt: #506982;
  --modal-background: #F9F0E3;
  --modal-title: #c45335;
  --modal-subtitle: #c45335;
  --text-focus: #c45335;
}
