
/* Colours */
:root {
  --border: #c6c6c6;
  --border-focus: #9FB1C1;
  --blue: #077ABC;
  --aqua: #07B3A1;
  --asphalt: #506982;
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography & Layout */
body {
  font-family: montserrat, arial, verdana;
}


/* Modal */

.modal-wrapper {
    position: fixed; /* float above the page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* dark backdrop */
    z-index: 1000; /* make sure it sits above other content */
}

.modal-content {
    background-color: #fafbfc;
    width: 90%;
    max-width: 500px; /* cap width */
    height: auto; /* Make sure height adjusts to content */
    max-height: 100%; /* Allow content to grow based on the viewport */
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbars in modal content */
}

.modal-title {
  padding-top: 14px;
  font-size: 24px;
  text-transform: uppercase;
  color: #2C3E50;
  letter-spacing: 1px;
  text-align: center;
}

.modal-subtitle {
    font-weight: normal;
    font-size: 24px;
    color: #666;
    padding-bottom: 1.5em;
    text-align: center;
}

.modal-content {
    position: relative;
    width: 470px; /* Adjust as needed */
    background: #fafbfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content header {
  width: 100%; /* Ensures the header spans the full width */
}


/* close button */

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.close-button:hover {
  color: var(--border-focus);
} 


/* Form Group */

.form-group {
  margin-bottom: 20px;
}


/* Form section */

.form-section {
  text-align: left;
  position: relative;
}

/* .form-section input.correct {
  color: var(--blue);
}

.form-section input.incorrect {
  color: #E74C3C; */
/* } */


/* Form Section input */

/* Remove hover effect on disabled inputs */
.form-section input:disabled:hover,
.form-section input:disabled:focus {
    border-color: inherit !important; /* Keeps the existing border color */
    background-color: inherit !important;
    color: inherit !important; /* Keeps the text color */
}

.form-section input.incorrect:disabled {
    border-color: #BC2F07 !important; /* Keep the red border */
    color: #A10D2F; /* Optional: dark red text */
}

.form-section input.correct:disabled {
    border-color: var(--blue) !important; /* Keep the red border */
}

/* Focus and Hover Styles */

/* Colour of border when clicked on*/
.form-section input[type="text"]:focus {
  outline: none;
  border-color: var(--border-focus);
}

/* Colour of border when hovered over */
.form-section input[type="text"]:hover {
  border-color: var(--border-focus);
}

/* Input styles */
.form-section input[type="text"] {
  border: none; /* Remove the input border */
  width: 100%;
  font-size: 16px;
  color: #888;
  background-color: transparent; /* Make it blend with the container */
  padding: 10px 0; /* Reduce padding so text is closer to the border */}

/* Fix for :focus + label */
.form-section input[type="text"]:focus + label,
.form-section textarea:focus + label,
.form-section select:focus + label {
  color: var(--blue);
  cursor: text;
}

/* Form Section Label styling */

/* Colour of text without interaction */
.form-section label {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: transparent;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
  pointer-events: none; /* Allows clicks to pass through */
}

/* Colour text remains when hovering after you move to next box */
.form-section label.active {
  top: -11px;
  color: #555;
  background-color: #fafbfc;
}

.form-section label:hover {
  color: var(--blue);
}

.form-section select {
  appearance: none;
  cursor: pointer;
}

.form-section textarea {
  resize: none;
  height: 200px;
}

.form-section button {
  cursor: pointer;
  background-color: var(--aqua);
  border: none;
  color: white;
  padding: 12px 0;
}

.form-section button:hover {
  background-color: #09d1ba;
}

.submitButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid var(--border);
  border-radius: 6px;
  /* color: #24292e; */
  background-color: #fafbfc;
  /* border-color: #1b1f2326; */
  box-shadow: rgba(221, 222, 223, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  height: 43px;
  /* color: var(--blue); */
  color: var(--asphalt);

  /* float: right; */
}

.submitButton:hover {
  border-color: var(--border-focus);
  color: var(--blue);

}


/* Input Container */

.input-container {
  border: 1px solid var(--border); /* Now this form-section the border */
  padding: 5px; /* Add some padding so input isn't too close to the border */
  width: 100%;
  margin-bottom: 18px;
  background-color: #fafbfc;
  border-radius: 4px;
  /* transition: all 0.3s; */
  display: flex;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-in-out, visibility 3s ease-in-out;
}

.input-container:hover {
  border-color: var(--border-focus);
}

.input-container:focus-within {
  border-color: var(--border-focus);
}

.input-container.incorrect {
  border-color: #E74C3C !important; 
}

/* When an answer is correct */
.input-container.correct {
  border-color: var(--blue) !important; /* Blue border */
}

.input-container.hidden {
  opacity: 0;
  height: 0;
  /* overflow: hidden;
  transform: scaleY(0); */
  visibility: hidden; /* Ensure the input doesn't take space before it appears */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.input-container.visible {
  opacity: 1 0.5s ease-in-out;
  height: auto;
  transform: scaleY(1);
}

/* ### */

/* Correct Answer */

.correct-answer {
  /* Hide by default */
  display: none; 
  color: #999;
}

.correct-answer.visible {
  display: block;
  padding-right: 30px;
  color: #999;
}


